nav .b {
    width: 100vw;
    height: 100dvh;
}

nav {
    /* position: fixed !important; */
}

.bg-background\/70 {
    background-color: transparent;
}

nav img {
    height: 5rem;
}

@media(max-width:768px) {
    nav #title {
        display: none;
    }

    nav #mode {
        display: none;
    }

    nav #header{
        position: absolute;
        right: 0px;
    }
}