/* .profilemain .custom-modal {
    display: flex;
    padding: 20px;
    gap: 2rem;
    width: 50%;
    height: 50%;
} */
.content .input-fields{
    display: grid;
    grid-template-columns: auto auto ;

 
}